/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  font-family: "Anek Devanagari", sans-serif;
  font-optical-sizing: auto;
  font-size: 16px;
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/* My Styles */
body {
  min-height: 100vh;
  display: grid;
  grid-template-rows: repeat(2, auto) 1fr auto;
}

/* Tabs */
.tabs-list {
  list-style: none;
  margin: 0;
  padding: 1rem;
  display: flex;
  gap: 2rem;
  justify-content: center;
}

.tabs-list a {
  text-decoration: none;
  color: black;
}

.tabs-list [aria-selected="true"] {
  text-decoration: underline;
  text-decoration-thickness: 0.25em;
  text-underline-offset: 0.5em;
  color: blueviolet;
}

.tabs-container {
  /* padding: 2rem; */
  background: white;
  align-self: center;
}

.tabs__panels > div[hidden] {
  display: none;
}

/* Calendar Styles */
.calendar__upper {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

.calendar {
  display: flex;
  flex-direction: column;
  /* margin-top: 2rem; */
}

.calendar__date-np {
  font-size: 12.5rem;
  margin-bottom: 0;
  line-height: 1;
}

.calendar__month-year {
  font-weight: 400;
  font-size: 5.25rem;
  /* margin-bottom: 0; */
  line-height: 1.5;
}

.calendar__day-tithi-event {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.calendar__day-of-week,
.calendar__tithi,
.calendar__event {
  font-weight: 400;
  font-size: 1.5rem;
}

.calendar__date-np,
.calendar__month-year {
  text-align: center;
}

.calendar__footer {
  text-align: center;
  display: block;
  padding: 1rem;
  line-height: 0.5;
}

@media (min-width: 500px) {
  .calendar__date-en,
  .calendar__clock {
    font-size: 1.3rem;
  }
  .calendar__day-tithi-event {
    flex-direction: row;
    gap: 4rem;
    justify-content: center;
  }

  .bullet::before {
    content: "";
    position: absolute;
    background-color: lightgrey;
    height: 0.8rem;
    width: 0.8rem;
    margin-top: 0.3rem;
    margin-left: -2.3rem;
    border-radius: 50%;
  }
}
