.calendar {
  padding: 1rem;
}

/* Tabs */
.tabs-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 1rem;
}

.tabs-list [aria-selected="true"] {
  text-decoration: underline;
  text-decoration-thickness: 0.25em;
  text-underline-offset: 0.5em;
  color: orangered;
}

.tabs-container {
  padding: 2rem;
  border-radius: 0.5rem;
  background: hsl(0 0% 50% / 0.1);
}

.tabs__panels > div[hidden] {
  display: none;
}
